@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "akkurat-bold";
  src: url("../fonts/FontsFree-Net-Akkurat-Bold.ttf");
}

@font-face {
  font-family: "akkurat";
  src: url("../fonts/FontsFree-Net-Akkurat.ttf");
}
