/*********************************
VERY IMPORTANT STUFF DO NOT TOUCH
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
**********************************/
#container {
  display: -ms-grid;
  display: grid;
}

#container > main {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

body,
html {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*********************************
VERY IMPORTANT STUFF DO NOT TOUCH
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
**********************************/
/*********************************
THE HEADER CSS IS BELOW

IT STARTS HERE
**********************************/
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 0;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "gotham";
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: inline-block;
  width: 3px;
  height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
  max-width: 90%;
}

nav li a {
  pointer-events: auto;
  -webkit-transition: color 200ms 400ms;
  transition: color 200ms 400ms;
  text-decoration: none;
  color: black;
  -webkit-transition-delay: 850ms;
          transition-delay: 850ms;
}

nav li a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0px;
  position: relative;
  background-color: currentColor;
  -webkit-transition: width 0.6s cubic-bezier(0.73, 0, 0.38, 1);
  transition: width 0.6s cubic-bezier(0.73, 0, 0.38, 1);
}

nav li a:hover:after {
  width: 0;
}

nav li .external {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-column-gap: 0.5rem;
}

nav li .lefty {
  margin-left: -1.5rem;
}

nav li svg {
  color: black;
  width: calc(11px + (18 - 11) * ((100vw - 300px) / (1600 - 300)));
}

nav img {
  width: 13rem;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*********************************
THE HEADER FOR HOME PAGE CSS IS ABOVE

IT ENDS HERE
**********************************/
/*********************************
THE MAIN FOR HOME PAGE CSS IS UNDER .INDEX

IT BEGINS HERE
**********************************/
.index .split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100vh;
  font: 900 2em cookie;
  margin: 0;
  color: white;
}

.index .split h3 {
  font-family: "gotham";
  font-weight: normal;
  font-style: normal;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: 1/-1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  mix-blend-mode: difference;
  margin: 0;
  font-size: calc(55px + (100 - 55) * ((100vw - 300px) / (1600 - 300)));
}

.index .split p {
  font-family: "gotham";
  font-weight: normal;
  font-style: normal;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-left: 2.5rem;
  margin: 0;
  font-size: calc(22px + (50 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.index .split a {
  font-family: "gotham";
  font-weight: normal;
  font-style: normal;
  font-size: calc(22px + (35 - 22) * ((100vw - 300px) / (1600 - 300)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 7rem;
  color: white;
}

.index .split a svg {
  color: white;
  width: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.index .split a:nth-child(3) {
  background: url("https://louisiana.dk/wp-content/uploads/2020/10/3_KMA0508-960x736.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 3rem;
  grid-row: 1/-1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.index .split a:nth-child(3) svg {
  padding-right: 0.5rem;
}

.index .split a:nth-child(4) {
  background-color: black;
  text-align: right;
  padding-right: 3rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  grid-row: 1/-1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.index .split a:nth-child(4) svg {
  padding-left: 0.5rem;
}

/*********************************

THE MAIN FOR HOME PAGE CSS IS UNDER .INDEX

IT ENDS HERE
**********************************/
/*********************************
MEDIA QUERIE FOR MOBILE VIEW BELOW

IT STARS HERE
**********************************/
@media only screen and (min-width: 850px) {
  /*********************************
  MOBILE VIEW FOR HOME PAGE NESTED IN INDEX BELOW

  IT STARS HERE
  **********************************/
  .index .split a:nth-child(3) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 3rem;
  }
  .index .split a:nth-child(3):after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    bottom: 0px;
    position: relative;
    background-color: currentColor;
    -webkit-transition: width 0.6s cubic-bezier(0.73, 0, 0.38, 1);
    transition: width 0.6s cubic-bezier(0.73, 0, 0.38, 1);
  }
  .index .split a:nth-child(3):hover:after {
    width: 100%;
  }
  .index .split a:nth-child(4) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 3rem;
  }
  .index .split a:nth-child(4):before {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: currentColor;
    -webkit-transition: width 0.6s cubic-bezier(0.73, 0, 0.38, 1);
    transition: width 0.6s cubic-bezier(0.73, 0, 0.38, 1);
  }
  .index .split a:nth-child(4):hover:before {
    width: 100%;
  }
  /*********************************
  MOBILE VIEW FOR HOME PAGE NESTED IN INDEX ABOVE

  IT ENDS HERE
  **********************************/
}

/*********************************
MEDIA QUERIE FOR MOBILE VIEW ABOVE

IT ENDS HERE
**********************************/
/*********************************
MEDIA QUERIE FOR BURGER MENU BELOW

IT STARTS HERE
**********************************/
@media only screen and (max-width: 1110px) {
  body {
    overflow-x: hidden;
  }
  /* burger menu visible */
  .nav-links {
    position: absolute;
    right: 0px;
    top: 9vh;
    height: 85vh;
    width: 40%;
    background-color: white;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li .lefty {
    margin-left: 0;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .burger {
    display: block;
  }
  .burger.move span:nth-child(1) {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  .burger.move span:nth-child(2) {
    -webkit-transform: translateX(3px) rotate(45deg);
            transform: translateX(3px) rotate(45deg);
  }
  .burger.move span:nth-child(3) {
    -webkit-transform: translateX(-3px) rotate(-45deg);
            transform: translateX(-3px) rotate(-45deg);
  }
}

@media only screen and (max-width: 600px) {
  .nav-active {
    width: 80%;
  }
}

/*********************************
MEDIA QUERIE FOR BURGER MENU ABOVE

IT ENDS HERE
**********************************/
/*********************************
SOME TEST STYLING FOR PAGE 2

IT STARTS HERE
**********************************/
.page2 h1 {
  color: green;
}

.page2 p {
  color: hotpink;
}
/*# sourceMappingURL=test.css.map */